## Importing Packages

In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import html5lib

## Downloading Page

In [2]:
resp = requests.get("https://www.vlr.gg/event/matches/800/champions-tour-north-america-stage-2-challengers/?series_id=1561")
resp

In [3]:
soup = BeautifulSoup(resp.text)
#print(soup.prettify())

## Finding Links to Individual Matches

In [4]:
first_match_list = soup.find_all('a', class_='wf-module-item match-item mod-color mod-left mod-bg-after-red mod-first', href = True)
second_match_list = soup.find_all('a', class_='wf-module-item match-item mod-color mod-left mod-bg-after-red', href = True)
match_list = first_match_list + second_match_list

link_list = []

for match in match_list:
    link_list.append(match['href'])
    
for i, link in enumerate(link_list):
    link_list[i] = "https://vlr.gg"+link_list[i]+"?game=all&tab=overview"
    
link_list

['https://vlr.gg/99686/the-guard-vs-100-thieves-champions-tour-north-america-stage-2-challengers-w1?game=all&tab=overview',
 'https://vlr.gg/99688/optic-gaming-vs-faze-clan-champions-tour-north-america-stage-2-challengers-w1?game=all&tab=overview',
 'https://vlr.gg/99690/nrg-esports-vs-tsm-champions-tour-north-america-stage-2-challengers-w1?game=all&tab=overview',
 'https://vlr.gg/99692/faze-clan-vs-luminosity-champions-tour-north-america-stage-2-challengers-w2?game=all&tab=overview',
 'https://vlr.gg/99694/tsm-vs-100-thieves-champions-tour-north-america-stage-2-challengers-w2?game=all&tab=overview',
 'https://vlr.gg/99696/optic-gaming-vs-cloud9-champions-tour-north-america-stage-2-challengers-w2?game=all&tab=overview',
 'https://vlr.gg/99704/the-guard-vs-tsm-champions-tour-north-america-stage-2-challengers-w3?game=all&tab=overview',
 'https://vlr.gg/99706/sentinels-vs-optic-gaming-champions-tour-north-america-stage-2-challengers-w3?game=all&tab=overview',
 'https://vlr.gg/99708/faze-clan-vs-cloud9-champions-tour-north-america-stage-2-challengers-w3?game=all&tab=overview',
 'https://vlr.gg/99710/the-guard-vs-xset-champions-tour-north-america-stage-2-challengers-w4?game=all&tab=overview',
 'https://vlr.gg/99712/sentinels-vs-faze-clan-champions-tour-north-america-stage-2-challengers-w4?game=all&tab=overview',
 'https://vlr.gg/99714/nrg-esports-vs-100-thieves-champions-tour-north-america-stage-2-challengers-w4?game=all&tab=overview',
 'https://vlr.gg/99716/xset-vs-tsm-champions-tour-north-america-stage-2-challengers-w5?game=all&tab=overview',
 'https://vlr.gg/99718/nrg-esports-vs-the-guard-champions-tour-north-america-stage-2-challengers-w5?game=all&tab=overview',
 'https://vlr.gg/99720/cloud9-vs-sentinels-champions-tour-north-america-stage-2-challengers-w5?game=all&tab=overview',
 'https://vlr.gg/99687/luminosity-vs-sentinels-champions-tour-north-america-stage-2-challengers-w1?game=all&tab=overview',
 'https://vlr.gg/99689/xset-vs-ghost-gaming-champions-tour-north-america-stage-2-challengers-w1?game=all&tab=overview',
 'https://vlr.gg/99691/cloud9-vs-evil-geniuses-champions-tour-north-america-stage-2-challengers-w1?game=all&tab=overview',
 'https://vlr.gg/99693/ghost-gaming-vs-the-guard-champions-tour-north-america-stage-2-challengers-w2?game=all&tab=overview',
 'https://vlr.gg/99695/evil-geniuses-vs-sentinels-champions-tour-north-america-stage-2-challengers-w2?game=all&tab=overview',
 'https://vlr.gg/99697/xset-vs-nrg-esports-champions-tour-north-america-stage-2-challengers-w2?game=all&tab=overview',
 'https://vlr.gg/99705/luminosity-vs-evil-geniuses-champions-tour-north-america-stage-2-challengers-w3?game=all&tab=overview',
 'https://vlr.gg/99707/100-thieves-vs-xset-champions-tour-north-america-stage-2-challengers-w3?game=all&tab=overview',
 'https://vlr.gg/99709/ghost-gaming-vs-nrg-esports-champions-tour-north-america-stage-2-challengers-w3?game=all&tab=overview',
 'https://vlr.gg/99711/evil-geniuses-vs-optic-gaming-champions-tour-north-america-stage-2-challengers-w4?game=all&tab=overview',
 'https://vlr.gg/99713/tsm-vs-ghost-gaming-champions-tour-north-america-stage-2-challengers-w4?game=all&tab=overview',
 'https://vlr.gg/99715/cloud9-vs-luminosity-champions-tour-north-america-stage-2-challengers-w4?game=all&tab=overview',
 'https://vlr.gg/99717/faze-clan-vs-evil-geniuses-champions-tour-north-america-stage-2-challengers-w5?game=all&tab=overview',
 'https://vlr.gg/99719/100-thieves-vs-ghost-gaming-champions-tour-north-america-stage-2-challengers-w5?game=all&tab=overview',
 'https://vlr.gg/99721/optic-gaming-vs-luminosity-champions-tour-north-america-stage-2-challengers-w5?game=all&tab=overview']

## Scraping and Cleaning Data From Each Match
need df 2 and 3 for overall

In [5]:
def clean_data(df):
    del df['Unnamed: 1']
    df['Name'] = 'x'
    df['Team'] = 'x'

    for i in df.index:
        s = df.loc[i, 'Unnamed: 0'].split()
        df.loc[i]['Name'] = s[0]
        df.loc[i]['Team']=s[1]

    del df['Unnamed: 0']
    del df['+/–']
    del df['+/–.1']

    for i in df.index:
        for col in df.columns:
            s = df.loc[i][col].split(" ")
            df.loc[i][col] = s[0]
            if col == 'D':
                df.loc[i][col] = s[2]


dfs = pd.read_html(link_list[0])

df = dfs[3]
df1 = dfs[2]

df.head(5)

,Unnamed: 0,Unnamed: 1,ACS,K,D,A,+/–,KAST,ADR,HS%,FK,FD,+/–.1
0,Asuna 100T,NaN,284 344 219,38 25 13,/ 23 8 15 /,8 4 4,+15 +17 -2,76% 79% 72%,182 219 144,20% 18% 23%,4 3 1,6 4 2,-2 -1 -1
1,stellar 100T,NaN,224 183 270,34 13 21,/ 17 8 9 /,12 5 7,+17 +5 +12,89% 89% 89%,146 122 171,16% 13% 19%,1 1 0,1 1 0,0 0 0
2,Will 100T,NaN,222 229 214,27 16 11,/ 24 8 16 /,10 3 7,+3 +8 -5,70% 79% 61%,133 130 137,20% 21% 20%,7 3 4,6 2 4,+1 +1 0
3,bang 100T,NaN,219 202 234,29 14 15,/ 24 11 13 /,12 6 6,+5 +3 +2,73% 74% 72%,128 127 129,35% 43% 28%,5 1 4,3 1 2,+2 0 +2
4,Derrek 100T,NaN,139 226 47,17 15 2,/ 24 13 11 /,14 7 7,-7 +2 -9,76% 79% 72%,95 153 34,25% 25% 27%,2 2 0,2 1 1,0 +1 -1

In [6]:
def convert_percentage(df):
    for i in df.index:
        df.loc[i]['KAST'] = df.loc[i]['KAST'].replace('%','')
        df.loc[i]['KAST'] = (int(df.loc[i]['KAST']))/100
        
        df.loc[i]['HS%'] = df.loc[i]['HS%'].replace('%','')
        df.loc[i]['HS%'] = (int(df.loc[i]['HS%']))/100

In [7]:
clean_data(df)
convert_percentage(df)
df.head(5)

print(df.iloc[0].to_numpy())

['284' '38' '23' '8' 0.76 '182' 0.2 '4' '6' 'Asuna' '100T']

In [8]:
clean_data(df1)
convert_percentage(df1)
df1.head(5)

   ACS   K   D   A  KAST  ADR   HS% FK FD        Name  Team
0  282  38  29   3  0.59  182  0.27  5  3  Sayaplayer  TGRD
1  192  23  27   7  0.62  118   0.3  2  1       trent  TGRD
2  191  21  30  11   0.7  125  0.11  9  6      JonahP  TGRD
3  167  21  27  13  0.76  101  0.19  2  2       valyn  TGRD
4   83   9  32   5  0.46   63  0.18  0  7         neT  TGRD

In [9]:
class Player():
    def __init__(self, arr):
        self.name = arr[9]
        self.team = arr[10]
        self.acs = float(arr[0])  
        self.k =float(arr[1]) 
        self.d =float(arr[2])  
        self.a =float(arr[3]) 
        self.kast =float(arr[4]) 
        self.adr =float(arr[5]) 
        self.hsp =float(arr[6]) 
        self.fk =float(arr[7]) 
        self.fd =float(arr[8]) 
        self.games = 1
    
    def set_stats(self, arr):
        self.games +=1
        self.acs += float(arr[0])  
        self.k +=float(arr[1]) 
        self.d +=float(arr[2])  
        self.a +=float(arr[3]) 
        self.kast +=float(arr[4]) 
        self.adr +=float(arr[5]) 
        self.hsp +=float(arr[6]) 
        self.fk +=float(arr[7]) 
        self.fd +=float(arr[8]) 
    def get_name(self):
        return self.name
    
    def get_stats(self):
        return [self.name, self.team, self.acs/self.games, self.k/self.games, self.d/self.games, self.a/self.games, self.kast/self.games, self.adr/self.games, self.hsp/self.games, self.fk/self.games, self.fd/self.games]

In [10]:
player_names =[]
player_list =[]

In [11]:
for link in link_list:
    dfs = pd.read_html(link)
    df = dfs[2]
    df1 = dfs[3]
    clean_data(df)
    clean_data(df1)
    convert_percentage(df)
    convert_percentage(df1)
    for x, i in enumerate(df.index):
        if df.loc[i]['Name'] in player_names:
            index = player_names.index(df.loc[i]['Name'])
            player_list[index].set_stats(df.iloc[i].to_numpy())
        else:
            player_list.append(Player(df.iloc[i].to_numpy()))
            player_names.append(df.loc[i]['Name'])
    for x, i in enumerate(df1.index):
        if df1.loc[i]['Name'] in player_names:
            index = player_names.index(df1.loc[i]['Name'])
            player_list[index].set_stats(df1.iloc[i].to_numpy())
        else:
            player_list.append(Player(df1.iloc[i].to_numpy()))
            player_names.append(df1.loc[i]['Name'])
print(player_names)

['Sayaplayer', 'trent', 'JonahP', 'valyn', 'neT', 'Asuna', 'stellar', 'Will', 'bang', 'Derrek', 'yay', 'Marved', 'crashies', 'FNS', 'Victor', 'dicey', 'BABYBAY', 'supamen', 'POISED', 'Poach', 'Ethan', 's0m', 'tex', 'eeiu', 'hazed', 'corey', 'Rossy', 'seven', 'gMd', 'Subroza', 'flyuh', 'mada', 'bdog', 'TiGG', 'dazzLe', 'moose', 'Xeppaa', 'leaf', 'mitch', 'curry', 'vanity', 'dapr', 'ShahZaM', 'Rawkus', 'Dani', 'Kanpeki', 'Cryocells', 'zekken', 'BcJ', 'dephh', 'AYRIN', 'TenZ', 'SicK', 'NiSMO', 'koalanoob', 'johnqt', 'aproto', 'brawk', 'xeta', 'jawgemo', 'Boostio', 'Apoth', 'C0M', 'Reformed']

In [12]:
main_df = pd.DataFrame(columns = ['Name', 'Team', 'ACS', 'K', 'D', 'A', 'KAST', 'ADR', 'HS%', 'FK', 'FD'])
for player in player_list:
    main_df.loc[len(main_df)] = player.get_stats()
main_df.head(100)

main_df.to_excel('VCTS2NAGroups.xlsx', sheet_name='GROUPS')
#main_df.to_csv('VCTS2NAGroups.csv')